@charset "utf-8";
/* CSS Document */

body {
	background: #1E4E74;	
	color: #ddd;
}

img {
border: none;
}

#container {
	margin-top: 10px;
	margin-right:auto;
	margin-left:auto;
	width: 980px;
	height: 1125px;
	padding: 10px;
	background: url(../images/readability.png) no-repeat;
	overflow: hidden;
}
#footer {
	margin-top: 46px;
	text-align: right;
}
#footer * {
	float: right;	
}
#arcLinks {
	margin-left: 140px;
}
#kindlingAd {
	width: 250px;
}
#kindlingAd a {
	color: #fff;
	font-size: 12px;
	text-decoration: none;
	display: block;
}
#kindlingAd p {
	margin: 4px 40px 0 0;
}

a.www-link {
	margin: 0 8px 0 30px;
}

#arc90 {
	display: block;
	text-align: right;
	margin-top: 60px;
}

#settings {
	margin-top: 193px;
	padding: 0 1.5em;
	display: block;
	width: 900px;
	height: 160px;
}

div.settings-box, div#bookmarklet {
	float: left;
}
div#bookmarklet {
	width: 200px;
	margin-top: 24px;
	margin-left: 140px;
	text-align: center;	
}

div#style {
	width: 175px;
	margin-left: 20px;
}
div#size {
	width: 165px;	
}
div#margin {
	width: 160px;	
}

.settings-box label {
	margin-left: .5em;
	cursor: pointer;
}
.settings-box p {
	margin: .1em 0;	
}
#readHiddenContent {
	display: none;	
}
#example {
	display: block;
	margin-left: 30px;
	margin-top: 24px;
	width: 888px;
	height: 454px;
	left: 30px;
	padding: 1em 2em;
	overflow: auto;
}
#articleContent {
	text-align: left;
	line-height: 1.4em;	
	margin: 1em auto;
}
/* ---------------- USER-CONFIGURABLE STYLING --------------------- */
/* ---------------- USER-CONFIGURABLE STYLING --------------------- */
/* Size options */
.size-small {
	font-size: 12px;
}
.size-medium {
	font-size: 18px;	
}
.size-large {
	font-size: 26px;
}
.size-x-large {
	font-size: 34px;
}

/* Style options */
.style-novel {
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	background: #F4F3DB;
	color: #222;
}

.style-ebook {
	font-family:Arial, Helvetica, sans-serif;
	background: #eee;
	color: #333;
}
.style-ebook h1 {
	font-family: "Arial Black", Gadget, sans-serif;
	font-weight: normal;
}

.style-newspaper {
	font-family:"Times New Roman", Times, serif;
	background: #F7F7F7;
	color: #222;
}
.style-newspaper h1 {
	text-transform:capitalize;
	font-family: Georgia, "Times New Roman", Times, serif;
}

.style-terminal {
	font-family: "Lucida Console", Monaco, monospace;
	background: #1D4E2C;
	color: #C6FFC6;
}

.style-slate {
	font-family: "Gill Sans", Calibri, Trebuchet, sans-serif;
	background: #262626;
	color: #6A6969;
	font-weight: lighter;
	letter-spacing: .1em;
}

.style-slate #articleContent {
	text-align: left;
}

.style-slate hr {
	background-color: #666;
	color: #666;
	height: 1px;
	border-width: 0;
}

.style-slate h1 {
	font-variant: small-caps;
	font-weight: lighter;
	letter-spacing: .15em;
	text-align: left;
}

/* Margin Options */
.margin-x-wide {
	width: 385px;
}
.margin-wide {
	width: 435px;
}
.margin-medium {
	width: 580px;
}
.margin-narrow {
	width: 760px;
}
/* ---------------- USER-CONFIGURABLE STYLING --------------------- */
/* ---------------- USER-CONFIGURABLE STYLING --------------------- */



/* LOCK IN H1 SIZING */
#articleContent h1 {
	font-size: 1.2em !important;
	display: block;
	text-transform:capitalize;
}
#articleContent {
	line-height: 1.4em;	
}

