#readInner {
	width: 100% !important;
}
#readTools {
	display: none;	
}

/* ------ Size Options ------- */

.size-small {
	font-size: 12px;
}
.size-medium {
	font-size: 18px;	
}
.size-large {
	font-size: 26px;
}
.size-x-large {
	font-size: 34px;
}

/* ------ Style Options ------- */

.style-novel {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
.style-ebook {
	font-family: Arial, Helvetica, sans-serif;
}
.style-ebook h1 {
	font-family: "Arial Black", Gadget, sans-serif;
	font-weight: normal;
}
.style-newspaper {
	font-family: "Times New Roman", Times, serif;
}
.style-newspaper h1 {
	font-family: Georgia, "Times New Roman", Times, serif;
	text-transform: capitalize;
}
.style-terminal {
	font-family: "Lucida Console", Monaco, monospace;
}