@charset "utf-8";

#readOverlay {
	display: block;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
#readInner {
	line-height: 1.4em;
	margin: 1em auto;
	max-width: 800px;
	text-align: left;
	width: 800px;
}
#readInner a {
	color: blue;
	text-decoration: underline;
}
/* custom - PRE content (will revisit) */
/*
#readInner pre {
	white-space: pre-wrap;
}
#readOverlay #readInner pre.normalPre {
	font-size: 14px;
	line-height: 1.4em;
	overflow: auto;
	white-space: pre-wrap;
}
#readInner code, #readInner pre {
	font-family: "Courier New", Courier, monospace;
}
#readInner pre {
	background-color: #FFF;
	border: #000 1px inset;
	font-size: 110%;
	max-height: 250px;
	overflow: auto;
	margin: 0;
	padding: 6px 0;
	overflow-x: auto;
	width: 100%;
}
*/
#readInner * {
	background: none;
	border: none;
	margin-bottom: 16px;
	text-align: left;
}
#readInner h1 {
	border-bottom: 1px solid #333;
	display: block;
	font-size: 1.2em;
	width: 100%;
}
#readInner p img {
	float: left;
	margin-right: 12px;
	margin-bottom: 12px;
}
#readInner blockquote {
	margin-left: 3em;
	margin-right: 3em;
}
/* ToolBar */
#readTools {
	height: 150px;
	left: 10px;
	position: fixed;
	top: 10px;
	width: 34px;
	z-index: 100;
}
#readTools a {
	display: block;
	filter: alpha(opacity=40);
	height: 34px;
	margin-bottom: 8px;
	opacity: .4;
	overflow: hidden;
	text-indent: -99999px;
}
#email-page {
	background: url(http://lab.arc90.com/experiments/readability/images/read-email.png) no-repeat left top;
}
#reload-page {
	background: url(http://lab.arc90.com/experiments/readability/images/read-refresh.png) no-repeat left top;
}
#print-page {
	background: url(http://lab.arc90.com/experiments/readability/images/read-print.png) no-repeat left top;
}
#readTools a:hover {
	filter: alpha(opacity=100);
	opacity: 1;
}
/* Footer */
#readFooter {
	border-top: 1px solid #333;
}
#readFooter, #readFooter div, #readFooter a {
	margin: 0;
	padding: 0;
	text-align: center;
}
#readability-version {
	font-size: 12px;
	font-weight: bold;
}


/* ---------------- USER-CONFIGURABLE STYLING --------------------- */

/* ------ Size Options ------- */

.size-small {
	font-size: 12px;
}
.size-medium {
	font-size: 18px;
}
.size-large {
	font-size: 26px;
}
.size-x-large {
	font-size: 34px;
}

/* ------ Style Options ------- */

.style-novel {
	background: #F4F3DB;
	color: #222;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
.style-ebook {
	background: #EEE;
	color: #333;
	font-family: Arial, Helvetica, sans-serif;
}
.style-ebook h1 {
	font-family: "Arial Black", Gadget, sans-serif;
	font-weight: normal;
}
.style-newspaper {
	background: #FFF;
	color: #222;
	font-family: "Times New Roman", Times, serif;
}
.style-newspaper h1 {
	font-family: Georgia, "Times New Roman", Times, serif;
	text-transform: capitalize;
}
.style-terminal {
	background: #1D4E2C;
	color: #C6FFC6;
	font-family: "Lucida Console", Monaco, monospace;
}

/* ------ Margin Options ------- */

.margin-x-wide {
	width: 35%;
}
.margin-wide {
	width: 55%;
}
.margin-medium {
	width: 75%;
}
.margin-narrow {
	width: 95%;
}

/* ---------------- EMAIL POP UP --------------------- */

#email-container {
	background-color: #fff;
	border: solid 3px #666;
	height: 490px;
	left: 50%;
	margin: 0 0 0 -240px;
	overflow: hidden;
	padding: 0;
	position: fixed;
	top: 60px;
	width: 500px;
	z-index: 100 !important;
}