#readInner {
	width: 100% !important;
}
#readInner pre {
	overflow-x: auto; /* Use horizontal scroller if needed; for Firefox 2, not needed in Firefox 3 */
	white-space: pre-wrap; /* css-3 */
	white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: -o-pre-wrap; /* Opera 7 */
	/* width: 99%; */
	word-wrap: break-word; /* Internet Explorer 5.5+ */
}
#readTools {
	display: none;	
}

/* ------ Size Options ------- */

.size-small {
	font-size: 12px;
}
.size-medium {
	font-size: 18px;	
}
.size-large {
	font-size: 26px;
}
.size-x-large {
	font-size: 34px;
}

/* ------ Style Options ------- */

.style-novel {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
.style-ebook {
	font-family: Arial, Helvetica, sans-serif;
}
.style-ebook h1 {
	font-family: "Arial Black", Gadget, sans-serif;
	font-weight: normal;
}
.style-newspaper {
	font-family: "Times New Roman", Times, serif;
}
.style-newspaper h1 {
	font-family: Georgia, "Times New Roman", Times, serif;
	text-transform: capitalize;
}
.style-terminal {
	font-family: "Lucida Console", Monaco, monospace;
}