@charset "utf-8";

body {
	background: #1E4E74;	
	color: #ddd;
}
img {
	border: none;
}
#container {
	background: url(../images/readability.png) no-repeat;
	height: 1125px;
	margin: 10px auto 0 auto;
	overflow: hidden;
	padding: 10px;
	width: 980px;
}
#footer {
	margin-top: 46px;
	text-align: right;
}
#footer * {
	float: right;	
}
#arcLinks {
	margin-left: 140px;
}
#kindlingAd {
	width: 250px;
}
#kindlingAd a {
	color: #fff;
	display: block;
	font-size: 12px;
	text-decoration: none;
}
#kindlingAd p {
	margin: 4px 40px 0 0;
}
a.www-link {
	margin: 0 8px 0 30px;
}
#arc90 {
	display: block;
	margin-top: 60px;
	text-align: right;
}
#arc90 img {
	margin-right: 10px;
}
#arc90 a.twitter {
	border-bottom: 1px solid #fff;
	color: #ddd;
	font-size: .8em;
	font-weight: bolder;
	margin-top: 10px;
	text-decoration: none;
}
#settings {
	display: block;
	height: 160px;
	margin-top: 162px;
	padding: 0 1.5em;
	width: 900px;
}
div.settings-box, div#bookmarklet {
	float: left;
}
div#bookmarklet {
	margin-left: 140px;
	margin-top: 24px;
	text-align: center;
	width: 200px;
}
div#style {
	margin-left: 20px;
	width: 175px;
}
div#size {
	width: 165px;	
}
div#margin {
	width: 160px;	
}
.settings-box label {
	cursor: pointer;
	margin-left: .5em;
}
.settings-box p {
	margin: .1em 0;	
}
#readHiddenContent {
	display: none;	
}
#example {
	display: block;
	height: 455px;
	left: 30px;
	margin-left: 30px;
	margin-top: 28px;
	overflow: auto;
	padding: 1em 2em;
	width: 888px;
}
#articleContent {
	line-height: 1.4em;	
	margin: 1em auto;
}
/* LOCK IN H1 SIZING */
#articleContent h1 {
	display: block;
	font-size: 1.2em !important;
	text-transform: capitalize;
}


/* ---------------- USER-CONFIGURABLE STYLING --------------------- */

/* ------ Size Options ------- */

.size-small {
	font-size: 12px;
}
.size-medium {
	font-size: 18px;	
}
.size-large {
	font-size: 26px;
}
.size-x-large {
	font-size: 34px;
}

/* ------ Style Options ------- */

.style-novel {
	background: #F4F3DB;
	color: #222;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
.style-ebook {
	background: #EEE;
	color: #333;
	font-family: Arial, Helvetica, sans-serif;
}
.style-ebook h1 {
	font-family: "Arial Black", Gadget, sans-serif;
	font-weight: normal;
}
.style-newspaper {
	background: #F7F7F7;
	color: #222;
	font-family: "Times New Roman", Times, serif;
}
.style-newspaper h1 {
	font-family: Georgia, "Times New Roman", Times, serif;
	text-transform: capitalize;
}
.style-terminal {
	background: #1D4E2C;
	color: #C6FFC6;
	font-family: "Lucida Console", Monaco, monospace;
}

/* ------ Margin Options ------- */

.margin-x-wide {
	width: 35%;
}
.margin-wide {
	width: 55%;
}
.margin-medium {
	width: 75%;
}
.margin-narrow {
	width: 95%;
}